<section class="about page-sections" id="about">
    <div class="about__inner">
        <div class="about__eyebrow">{{ 'about.eyebrow' | translate }}</div>
        <div class="about__grid">
            <img src="./img/portrait-placeholder.svg" alt="Portrait of Juan Betancur (placeholder)" />
            <div class="about__content">
                <div class="about__content__body">
                    <p>{{ 'about.content.first' | translate }}</p>
                    <p>{{ 'about.content.second' | translate }}</p>
                    <p>{{ 'about.content.third' | translate }}</p>
                </div>
                <div class="about__content__skills">
                    <h4>{{ 'about.stack' | translate }}</h4>
                    <div class="row">
                        @for (item of stack; track item) {
                            <span>{{ item }}</span>
                        }
                    </div>
                    <h4>{{ 'about.learning' | translate }}</h4>
                    <div class="row">
                        @for (item of learning; track item) {
                            <span>{{ item }}</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
