<footer class="footer">
    <div class="footer__inner">
        <div class="footer__colophon">
            <p>
                <span class="name">{{ 'footer.colophon.name' | translate }}</span> {{ 'footer.colophon.description' | translate }}
            </p>
        </div>
        <div class="footer__inner__item">
            <h5>{{ 'footer.site.title' | translate }}</h5>
            <ul>
                <li><a (click)="scrollToSection('work')">{{ 'footer.site.work' | translate }}</a></li>
                <li><a (click)="scrollToSection('about')">{{ 'footer.site.about' | translate }}</a></li>
                <li><a (click)="scrollToSection('contact')">{{ 'footer.site.contact' | translate }}</a></li>
            </ul>
        </div>
        <div class="footer__inner__item">
            <h5>{{ 'footer.elsewhere.title' | translate }}</h5>
            <ul>
                <li><a href="https://github.com/juanfelipecano" target="_blank" rel="noopener noreferrer">{{ 'footer.elsewhere.github' | translate }}</a></li>
                <li><a href="https://linkedin.com/in/juanfelipebetancurcano" target="_blank" rel="noopener noreferrer">{{ 'footer.elsewhere.linkedin' | translate }}</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <span>{{ 'footer.bottom.copyright' | translate }}</span>
        <span>{{ 'footer.bottom.version' | translate }}</span>
    </div>
</footer>
